/* 載入 Google Fonts - Noto Sans TC  */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url(../_css/bootstrap.css);

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 1.8px;
}

/* text-styles-top */
/* body-text */
.body-text-18 {
    font-size: 18px;
    line-height: 28px;
}

.body-text-16 {
    font-size: 16px;
    line-height: 24px;
}

.body-text-14 {
    font-size: 14px;
    line-height: 22px;
}

.body-text-12 {
    font-size: 12px;
    line-height: 12px;
}

/* display-text */
.d-text-80,
.d-text-72,
.d-text-64,
.d-text-56,
.d-text-48,
.d-text-40 {
    line-height: 150%;
}

.d-text-80 {
    font-size: 5rem;
}

.d-text-72 {
    font-size: 4.5rem;
}

.d-text-64 {
    font-size: 4rem;
}

.d-text-56 {
    font-size: 3.5rem;
}

.d-text-48 {
    font-size: 3rem;
}

.d-text-40 {
    font-size: 2.5rem;
}

/* color-styles */
/* text-color */
.text-orange-primary {
    color: rgb(245, 167, 10);
}

.text-orange-tint {
    color: rgb(253, 237, 206);
}

.text-orange-analogous {
    color: rgb(241, 84, 69);
}

.text-orange-shade {
    color: rgb(98, 66, 4);
}

.text-orange-dark {
    color: rgb(195, 48, 34);
}

.text-green-primary {
    color: rgb(10, 245, 167);
}

.text-green-tint {
    color: rgb(206, 253, 237);
}

.text-green-analogous {
    color: rgb(10, 206, 245);
}

.text-green-shade {
    color: rgb(6, 147, 100);
}

.text-purple-primary {
    color: rgb(167, 10, 245);
}

.text-purple-tint {
    color: rgb(237, 206, 253);
}

.text-purple-analogous {
    color: rgb(245, 10, 206);
}

.text-purple-shade {
    color: rgb(100, 6, 147);
}
/* border-color */
.border-orange-primary {
    border-color: rgb(245, 167, 10);
}

.border-orange-tint {
    border-color: rgb(253, 237, 206);
}

.border-orange-analogous {
    border-color: rgb(241, 84, 69);
}

.border-orange-shade {
    border-color: rgb(98, 66, 4);
}

.border-orange-dark {
    border-color: rgb(195, 48, 34);
}

.border-green-primary {
    border-color: rgb(10, 245, 167);
}

.border-green-tint {
    border-color: rgb(206, 253, 237);
}

.border-green-analogous {
    border-color: rgb(10, 206, 245);
}

.border-green-shade {
    border-color: rgb(6, 147, 100);
}

.border-purple-primary {
    border-color: rgb(167, 10, 245);
}

.border-purple-tint {
    border-color: rgb(237, 206, 253);
}

.border-purple-analogous {
    border-color: rgb(245, 10, 206);
}

.border-purple-shade {
    border-color: rgb(100, 6, 147);
}
/* bg-color */
.bg-orange-primary {
    background-color: rgb(245, 167, 10);
}

.bg-orange-tint {
    background-color: rgb(253, 237, 206);
}

.bg-orange-analogous {
    background-color: rgb(241, 84, 69);
}

.bg-orange-shade {
    background-color: rgb(98, 66, 4);
}

.bg-orange-dark {
    background-color: rgb(195, 48, 34);
}

.bg-green-primary {
    background-color: rgb(10, 245, 167);
}

.bg-green-primary-o10 {
    background-color: rgba(10, 245, 167, 10%);
}

.bg-green-tint {
    background-color: rgb(206, 253, 237);
}

.bg-green-analogous {
    background-color: rgb(10, 206, 245);
}

.bg-green-shade {
    background-color: rgb(6, 147, 100);
}

.bg-purple-primary {
    background-color: rgb(167, 10, 245);
}

.bg-purple-tint {
    background-color: rgb(237, 206, 253);
}

.bg-purple-analogous {
    background-color: rgb(245, 10, 206);
}

.bg-purple-shade {
    background-color: rgb(100, 6, 147);
}
/* button */
.btn-orange-analogous {
    background-color: rgb(241, 84, 69);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
}
.btn-orange-analogous:hover {
    background-color: rgb(227, 78, 65);
    color: rgb(255, 255, 255);
}
.btn-orange-analogous:active {
    background-color: rgb(195, 48, 34);
    color: rgb(255, 255, 255);
}
.btn-orange-analogous:disabled {
    background-color: rgb(241, 84, 69);
    color: rgb(255, 255, 255);
}
/* button border-radius 50% outline */
.btn-outline-orange-analogous {
    border: 1.2px solid rgb(241, 84, 69);
    background-color: rgba(241, 84, 69, 0%);
    color: rgba(241, 84, 69, 100%);
    font-weight: bold;
    font-size: 18px;
}
.btn-outline-orange-analogous:hover {
    background-color: rgba(241, 84, 69, 100%);
    color: rgb(255, 255, 255);
}
.btn-outline-orange-analogous:active {
    background-color: rgb(195, 48, 34);
    color: rgb(255, 255, 255);
}
.btn-outline-orange-analogous:disabled {
    background-color: rgb(241, 84, 69);
    color: rgb(255, 255, 255);
}

.btn-outline-white {
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0%);
    color: rgb(255, 255, 255);
    font-size: 16px;
    letter-spacing: 2px;
}
.btn-outline-white:hover {
    background-color: rgb(255, 255, 255);
    color: rgba(10, 245, 167, 100%);
}
.btn-outline-white:active {
    background-color: rgb(255, 255, 255);
    color: rgba(6, 147, 100, 100%);
}

/* card-shadow */
.drop-shadow-2-4-8-orange {
    box-shadow: 2px 4px 8px rgb(253, 237, 206);
}

.drop-shadow-2-4-10-green {
    box-shadow: 2px 4px 10px rgb(206, 253, 237);
}

.drop-shadow-0-2-0-orange {
    box-shadow: 0px 2px 0px rgb(245, 167, 10);
}

/* text-styles-bottom */
#brandLogo {
    width: 75%;
}
.bg-cover {
    background-size: cover;
    background-position: center center;
}
header {
    position: relative;
}
#header-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 20%);
}
.bg-img-tr {
    width: 45px;
    height: 45px;
    clip-path: circle(50% at 50% 50%);
    background-image: url(../img/school/school-6.jpg);
    background-size: cover;
    background-position: center;
}
.bg-img-tr-2 {
    width: 45px;
    height: 45px;
    clip-path: circle(50% at 50% 50%);
    background-image: url(../img/school/school-3.jpg);
    background-size: cover;
    background-position: center;
}
.bg-img-tr-3 {
    width: 45px;
    height: 45px;
    clip-path: circle(50% at 50% 50%);
    background-image: url(../img/school/school-8.jpg);
    background-size: cover;
    background-position: center;
}
.card-teacher-img {
    height: 100%;
}
.navbar-brand {
    font-family: 'Baloo 2', cursive;
    /* font-size: 2rem; */
}
/* 愛心小物件 */
.material-icons{
    user-select: none;
}

input.ui-checkbox{
    height: 0;
    width: 0;
}

.starred-icon{
    opacity: 0;
}

.ui-checkbox:checked + .starred-icon{
    opacity: 1;
}

.starred-icon, .unstarred-icon{
    position: absolute;
    right: 20px;
    top: 40px;
    cursor: pointer;
}

/* 輪播控制項按鈕 */
section .carousel-control-prev-icon {
    background-image: url("../img/arrow-icon/arrow-left-circle-default.svg");
}

section .carousel-control-prev-icon:active {
    background-image: url("../img/arrow-icon/arrow-left-circle-active.svg");
}

section .carousel-control-next-icon {
    background-image: url("../img/arrow-icon/arrow-right-circle-default.svg");
}

section .carousel-control-next-icon:active {
    background-image: url("../img/arrow-icon/arrow-right-circle-active.svg");
}

body a,body a:hover {
    text-decoration: none;
    color: black;
}

/* hover */
.nav-link:hover {
    color: rgb(6, 147, 100);
    border-bottom: 2px solid rgb(10, 245, 167);
}
.forgetpw:hover {
    color: rgb(10, 206, 245);
    text-decoration: underline;
}
.card {
    transition: .4s;
}
.card:hover {
    transform:scale(1.01);
    /* box-shadow: 2px 4px 10px rgb(206, 253, 237); */
}
.look-more:hover {
    transition: 0.4s;
    transform:scale(1.03);
}
.look-more:active {
    transition: 0.4s;
    transform:scale(0.98);
}

/* 彈跳 */
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform:         translateY(0)
	}
	40% {
		transform:         translateY(5px)
	}
	60% {
		transform:         translateY(3px)
	}
}

/* 顯示/隱藏內容按鈕 */
#showTutoring {
    transition: 0.4s;
}

#showTutoring:hover, #showTutoring:focus {
    border-color: transparent;
    transform: scale(1.05);
}

#showTutoring:active {
    transform: scale(0.95);
}

#showTutoring i {
    color: rgb(245, 167, 10);
}

#showTutoring i:hover {
    animation: bounce 1.5s infinite;
    color: rgb(241, 84, 69);
}

/* 驗證 */